# H1: DATA SCIENCE TOOLS AND ECOSYSTEM

# IN THIS NOTEBOOK DATA SCIENCE TOOLS AND ECOSYSTEM ARE SUMMARIZED

**OBJECTIVES**
+ LIST POPULAR LANGUAGES FOR DATA SCIENCE
+ LIST POPULAR LIBRARIES FOR DATA SCIENCE
+ EVALUATE SOME ARITHMETIC EXPRESSIONS

# SOME OF THE POPULAR LANGUAGES  THAT DATA SCIENTIST USE ARE:
1. PYTHON
2. R
3. JAVA
4. C++

# SOME OF THE COMMONLY USED LIBRARIES USED BY DATA SCIENTISTS INCLUDE:
1. PANDAS
2. APACHE SPARK
3. MATPLOTLIB
4. GGPLOT
5. TENSORFLOW

| DATA SCIENCE TOOLS |
|------|
| JUPYTER |
| RSTUDIO |
| APACHE FLINK |

### H3: Below are a few examples of evaluating arithmetic expressions in Python

In [ ]:
# this is a simple arithmetic expression to multipy then add integers
(3*4)+5

17

In [ ]:
# this will convert 200 minutes to hours by diving by 60
(200/60)

3.3333333333333335

## H2: AUTHOR
LUISA FERNANDA RIASCOS HURTADO